<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\style.css" type="text/css">
    <title>New Game</title>
</head>
<body>
<h1>Starting new game</h1>
    <form method="post">
        <p>
            Player1 name:
            <input type="text" name="pl1_name">
        </p>
        <p>
            Player2 name:
            <input type="text" name="pl2_name">
        </p>
        <p>
            board row amount:
            <input type="text" name="board_rows">
        </p>
        <p>
            board col amount:
            <input type="text" name="board_cols">
        </p>
        <button type="submit">Play!</button>

    </form>
</body>
</html>