<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\style.css" type="text/css">
    <title>Ongoing game</title>
</head>
<body>
    <h1>{{ game.player1.name }} vs {{ game.player2.name }}</h1>
    <p>game number {{ game.game_id }}</p>
    <p>Currently
        {% if game.current_turn == 1 %}
            {{ game.player1.name }}
        {% else %}
            {{ game.player2.name }}
        {% endif %}
        turns</p>
    <p>Current position: {{ game.curr_loc_line_x }} row</p>
    <p>Current position: {{ game.curr_loc_line_y }} column</p>
    <hr>
    <svg height="{{ offset_y + (game.board.rows + 2) * pixel_res }}" width="{{ offset_x + (game.board.cols + 2) * pixel_res }}">
        {% for pos, field in game.board.fields.items() %}
            {% for field_name, status in field.status.items() %}
            {% if field_name == 'd1' %}
                <line x1="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y1="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      x2="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y2="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />

            {% endif %}
            {% if field_name == 'd2' %}
                <line x1="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y1="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      x2="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y2="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />

            {% endif %}
            {% if field_name == 'top' %}
                <line x1="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y1="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      x2="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y2="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />

            {% endif %}
            {% if field_name == 'left' %}
                <line x1="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y1="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      x2="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y2="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />
            {% endif %}
            {% if field_name == 'bottom' %}
                <line x1="{{ offset_x + 0 + pixel_res * pos[1] }}"
                      y1="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      x2="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y2="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />
            {% endif %}
            {% if field_name == 'right' %}
                <line x1="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y1="{{ offset_y + 0 + pixel_res * pos[0] }}"
                      x2="{{ offset_x + pixel_res + pixel_res * pos[1] }}"
                      y2="{{ offset_y + pixel_res + pixel_res * pos[0] }}"
                      stroke="{% if status == 0 %}
                              lightgrey
                              {% elif status == 1 %}
                              red
                              {% elif status == 2 %}
                              blue
                              {% endif %}" />
            {% endif %}
            {% endfor %}
        {% endfor %}
        {% for row_label in range(game.board.rows + 2) %}
            <text x="0" y="{{offset_y + pixel_res + row_label * pixel_res}}" font-size="15px">{{ row_label }}</text>
        {% endfor %}
        {% for col_label in range(game.board.cols + 1) %}
            <text x="{{offset_x + pixel_res + col_label * pixel_res}}" y="15" font-size="15px">{{ col_label }}</text>
        {% endfor %}

    </svg>
    <hr>
    <p>Available moves:</p>
    <form method="post">
        {% for move in avl_moves %}
            <span class="radio_options">
                <label>
                    <input type="radio" name="sel_move" value="{{ move }}">{{ move }}
                </label>
            </span>
        {% endfor %}
        <div><button type="submit">Make a move!</button></div>
    </form>
    <hr>
<!--    <p>Previous moves of {{ game.player1.name }}: {{ game.player1.all_moves }}</p>-->
<!--    <p>Previous moves of {{ game.player2.name }}: {{ game.player2.all_moves }}</p>-->
    <p>All locations visited: {{ game.all_locations }}:</p>


<!--    <hr>-->
<!--    {% for pos, field in game.board.fields.items() %}-->
<!--        <hr>-->
<!--        <p>row {{ pos[0] }} col {{ pos[1] }} </p>-->
<!--        {% for position, status in field.status.items() %}-->
<!--            <p>{{ position }}: {{ status }}</p>-->
<!--        {% endfor %}-->
<!--        <hr>-->
<!--    {% endfor %}-->


</body>
</html>